{% extends 'base.html' %}
{% load static %}

{% block contents %}
<header class="masthead" style="background-color:#92C1DC;">
    <div class="container h-100">
          <div class="row h-100">
            <div class="col-lg-7 my-auto">
              <div class="header-content mx-auto">
                <h1 class="mb-5">Welcome to blog ju! <p></p>Details will be announced shortly.</h1>
              </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="image-container">
                    <div class="screen">
                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                        <img src="{% static 'backimg.jpg' %}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}