.title_123{
    font-size:30px;
    color:orange;
}

.content{
    line-height:30px;
    font-weight:bold;
}

.title_23{
    font-size:35px;
    font-weight:bold;
    text-align:center;
    color:orange;
}

.ryan_title{
    font-size:50px;
    color:orange;
}

.line_block{
    display:inline-block;
}

/*inline block이 되면 두개가 붙어지게 됨*/

.line_block{
    display:inline-block;
    padding-top:50px;
    padding-bottom: 50px;
     /*이미지 가운데 정렬하려면 margin-right:auto, margin-left:auto하면 됨*/
    border-bottom:dotted 5px red;
    margin-bottom:50px;
    padding-bottom:50px;



}

.red_123{
    color:red;
    font-size:80px;
}

/*bordor 윤곽선, margin= padding=


*/

.orange_border{
    border:5px solid orange;
    padding: bottom 50px;
    padding:top 30px;
    padding:right 10px;
    padding:left 10px;
    border-radius: 50px;
}